<div class="col-lg-3 col-md-3 col-xs-6 thumb">
  <%= link_to share_contests_path(photo['objectId']), title: photo_alt(photo), class: 'thumbnail' do %>
    <%= image_tag(photo['imageURL'], class: "img-responsive", alt: photo_alt(photo) )%>
  <% end %> 
</div>