<table class="table">
  <!-- <caption>所有賽事</caption> -->
  <thead>
    <tr>
      <th>比賽名稱</th>
      <th>舉辦地點</th>
      <th>日期</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan='3' class='text-center'>
        <p>查無比賽, 
          <%= link_to contests_path do %> 
             回到比賽列表 <i class="fa fa-undo"></i>
          <% end %>
        </p>
      </td>
    </tr>
  </tbody>
</table>

