<div class="col-lg-12" id='photo_shares_container'>
  <div class="col-lg-4"></div>
  <div class="col-lg-4 thumb">
    <%= link_to @photo_share[0]['pageURL'], target: '_blank', title: @photo_share[0]['objectId'], class: 'thumbnail' do %>
      <%= image_tag(@photo_share[0]['imageURL'], class: "img-responsive", alt: "#{@photo_share[0]['objectId']}" )%>
    <% end %>
    <p><%= link_to "圖片來源：#{@photo_share[0]['owner']}", @photo_share[0]['pageURL'], target: '_blank', title: show_share_title %></p>
  </div>
  <div class="col-lg-4"></div>
</div>
