<script>
  loadCSS('/css/contest.css');
</script>

<% content_for :title do %>
  所有賽事
<% end %>
<br>
<%= render 'search_contest_name' %>
<br>
<div class="container">
  <div class="col-mg-12">
    <%= render_contest_rearch_result %>
  </div>
</div>