<% content_for :title do %>
  所有賽事
<% end %>
<% content_for :meta_area do %>
  <meta property="og:title" content='<%= full_title(yield(:title)) %>'>
<% end %>
<br>
<%= render 'search_contest_name' %>
<br>
<div class="container">
  <div class="col-mg-12">
    <%= render_contest_rearch_result %>
  </div>
</div>

<style>body{padding-top:70px;background-color:#fff}.thumb{margin-bottom:30px}footer{margin:50px 0}</style>